td, th {
  padding: 10px;
  border: 1px solid;
}

.table__wrapper {
  margin: 0px 100px;
}

.table__btn-save {
  margin-top: 30px;
}

.table__btn-add-student, 
.table__btn-add-date {
  margin-bottom: 30px;
  margin-right: 10px;
}

table {
  border-collapse: collapse;
}

h2 {
  text-align: center;
}
